/***********************************************************************************/
/*                                      Custom                                     */
/***********************************************************************************/
/*global*/
body {
	color: #000;
	font: normal 14px/1.4 $body-fontfamily;
	width: 100%;
	overflow: hidden;
}

.right {
	float: right;
	text-align: left;
	padding-left: 30px;
}

.left {
	float: right;
	text-align: right;
	padding-right: 40px;
}

.section-wrap {
	position: relative;
	z-index: 2;
}

.section {
	width: 1000px;
	margin: 0 auto;
	@extend .clearfix;

	h1 {
		margin-bottom: 40px;
		font-size: 40px;
	}
}

.overlay {
	background: #ecf0f1;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	opacity: 1;
	@include transition(opacity, .4s, ease-in);
}

.loading-process {
	.overlay {
		display: block;
	}
}

.finish-loading {
	.overlay {
		opacity: 0;
	}

	.loading-info,
	.loading-circle {
		opacity: 0;
	}

	.loading-avatar {
		border: 4px solid #fff;
	}

}

.cfade {
	opacity: 0;
	position: relative;
	top: 10px;
	@include transition(all, .2s, ease-in);

	&.cfade-in {
		opacity: 1;
		top: 0;
	}
}

/*eglobal*/
/*header*/
.section-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
}

.finish-loading {
	.nav {
		opacity: .6;
	}
}

.nav {
	width: 1050px;
	position: absolute;
	z-index: 5;
	display: block;

	ul {
		@extend .clearfix;
	}

	li {
		float: left;
		text-align: center;
		position: relative;
		width: 14%;

		a {
			color: #000;
			font-size: 30px;
			display: block;
			padding: 60px 0;
			width: 100%;
			@include transition(all, .6s, ease-in);
		}
	}

	.cfade1 {

		a:hover,
		&.hover a {
			color: #95a5a6;
		}
	}

	.cfade2 {

		a:hover,
		&.hover a {
			// color: #2980b9;
			color: $bd-work;
		}
	}

	.cfade3 {

		a:hover,
		&.hover a {

			// color: #c0392b;
			color: $bd-projects;
		}
	}

	.cfade4 {

		a:hover,
		&.hover a {
			// color: #27ae60;
			color: $bd-skill;
		}
	}

	.cfade5 {

		a:hover,
		&.hover a {
			// color: #27ae60;
			color: $bd-coursis;
		}
	}

	.cfade6 {

		a:hover,
		&.hover a {
			// color: #27ae60;
			color: $bd-contact;
		}
	}

	.back-home {
		height: 1px;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}

	.back-home a {
		position: absolute;
		width: 100px;
		height: 100px;
		left: 50%;
		margin-left: -50px;
		border-radius: 50%;
		overflow: hidden;
		text-indent: -9999px;
		background: url(images/avatar.jpg);
		-webkit-background-size: 100px 100px;
		background-size: 100px 100px;
		padding: 0 !important;
		top: 30px;

		// &:hover {
		// 	border-bottom: 4px solid #fff;
		// }
	}

}

.nav-bg {
	background: #ffffff;
	position: relative;
	z-index: 1;
	height: 80px;
	margin: 0 auto;
	width: 0;
	@include transition(width, .6s, ease-in);
}

.shrink {
	.nav li a {
		padding: 20px 0;
		font-size: 24px;
	}

	.nav .back-home a {
		top: 0;
	}

	.nav-bg {
		width: 100%;
	}
}

.home-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;

	img {
		max-width: none;
	}
}

.loading {
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: $loading-width + 20;
	height: $loading-height + 20;
	z-index: 10;
}

.loading-circle {
	background-color: rgba(0, 0, 0, 0);
	opacity: .9;
	border-top: $loading-border-width solid $bd-work;
	border-right: $loading-border-width solid $bd-projects;
	border-bottom: $loading-border-width solid $bd-skill;
	border-left: $loading-border-width solid $bd-coursis;
	border-radius: 50%;
	width: $loading-width;
	height: $loading-height;
	margin: 0 auto;
	@include transition(all, .4s, ease-in);
	animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-o-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

.loading-avatar {
	width: $loading-width;
	height: $loading-height;
	overflow: hidden;
	position: absolute;
	top: $loading-border-width;
	left: $loading-border-width;
	border-radius: 50%;
	@include transition(border-width, .4s, ease-in);

	img {
		width: $loading-width;
		height: $loading-height;
		border-radius: 50px;
	}
}

.loading-info {
	position: absolute;
	top: 130%;
	width: 160%;
	@include transition(opacity, .4s, ease-in);
}

.section-fristpage {
	text-align: center;
	color: #fff;
	font-size: 30px;

	p {
		padding-bottom: 0;
	}

	.cfade1 {}

	.cfade2 {
		margin-top: 60px;
	}

	.cfade3 {
		margin-top: 60px;
	}
}

.scroll-tip {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	bottom: -30px;
	top: auto !important;
	opacity: 1 !important;
	left: 50%;
	margin-left: -30px;
	text-indent: -9999px;
	background: #fff url(images/bg-down-arrow.png) no-repeat 50% 30%;
}

.section-about {
	background: $bd-background;

	.about-content {
		h1 {
			margin-bottom: 30px;
			font-size: 36px;
		}

		p {
			font-size: 20px;
			text-align: justify;
		}

		.left {
			margin-top: 10%;
			margin-left: 10%;
		}

		.my-photo {
			width: 335px;
			height: 540px;
		}

		.right .cfade4 {
			top: 0;
			left: 20px;

			&.cfade-in {
				left: 0;
			}
		}
	}

	.cfade {
		@include transition(all, .4s, ease-in);
	}
}

.section-works {
	background: $bd-work;
}

.works-content {
	h1 {
		text-align: left;
		color: #fff;
	}

	.works-list .cfade {
		top: 20px;
		left: 10px;
		@include transition(all, .4s, ease-in);

		&.cfade-in {
			left: 0;
			top: 0;
		}
	}

	.works-item {
		position: relative;
		width: 300px;
		margin-left: 30px;
		margin-bottom: 35px;
		float: left;
		overflow: hidden;

		img {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
			@include transition(all, .2s, ease-in);
			// margin-bottom: 5px;
		}

		&.first {
			margin-left: 0;
		}

		&:hover {
			img {
				-webkit-transform: scale(1.5);
				-moz-transform: scale(1.5);
				-ms-transform: scale(1.5);
				-o-transform: scale(1.5);
				transform: scale(1.5);
			}

			.work-info {
				top: 0;
			}
		}

		.work-info {
			position: absolute;
			top: 133px;
			padding: 10px;
			left: 0;
			right: 0;
			height: 100%;
			color: #fff;
			background: rgba(0, 0, 0, .8);
			@include transition(all, .2s, ease-in);

			h2 {
				margin-bottom: 20px;
			}
		}
	}
}

.more-link {
	color: #fff;
	display: block;
	padding: 10px 20px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	background: #3d3d3d;
	background: rgba(0, 0, 0, .6);

	&:hover {
		color: #fff;
		background: #3d3d3d;
		background: rgba(0, 0, 0, .4);
	}
}

.section-skill {
	background: $bd-skill;
}

.skill-content {
	margin-top: 150px !important;
	padding-right: 0;

	h1 {
		color: #fff;
	}

	h2 {
		color: #fff;
	}

	.left {
		text-align: center;
		padding-right: 0;

		li {
			display: inline-flex;
			list-style: none;
			flex-wrap: wrap;
		}

		width: 50%;
		float: left;
	}

	.right {
		padding-left: 0;
		text-align: center;
		width: 50%;
		float: right;

		h3 {
			padding-bottom: 1rem !important;
		}

		li {
			text-align: left;
			margin-left: 10px;
		}
	}

	.cfade {
		top: 0;
		left: 10px;
		@include transition(all, .2s, ease-in);

		&.cfade-in {
			left: 0;
		}
	}

}


.skill {
	position: relative;
	border-radius: 50%;
	padding: 15px;
	margin: 10px;
	width: 100px;
	height: 100px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.large-skill {
	width: 175px;
	height: 175px;
	color: #ffffff;
	text-align: center;
}

.skill:hover .tooltip {
	top: -45px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.skill:hover span,
.skill:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.tooltip .tooltiptext {
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 12px;
	margin-bottom: 10px;
	top: 130%;
	padding: 7px 12px;
	position: absolute;
	width: auto;
	min-width: 50px;
	max-width: 300px;
	word-wrap: break-word;
	z-index: 9999;
	visibility: hidden;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.skill:hover,
.skill:hover .tooltip,
.skill:hover .tooltip::before {
	color: #ffffff;
	background-color: #123239;
}

.skill .tooltip {
	position: absolute;
	font-size: 14px;
	background: #ffffff;
	color: #ffffff;
	padding: 5px 8px;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	// pointer-events: none;
	// transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.section-projects {
	background: $bd-projects;
	color: #dadada;

	.projects-content {
		h1 {
			color: #fff;
			margin-bottom: 30px;
		}

		.projects-info {
			margin-top: 20px;
		}

		h3 {
			margin-bottom: 20px;

		}
	}

	.projects-ways li {
		line-height: 1.8;
		font-size: normal;
	}
}

.section-contact {
	background: $bd-contact;
	color: #dadada;

	.contact-content {
		.left {
			width: 40%
		}

		.right {
			width: 50%;
		}

		h1 {
			color: #fff;
			margin-bottom: 30px;
		}

		.contact-info {
			margin-top: 20px;
		}

		h2 {
			color: #fff;
			margin-bottom: 20px;
		}

		.right ul {
			list-style-type: square;
			// padding-left: 30px;
			margin-bottom: 20px;
			line-height: 1.6;
		}
	}

	.contact-ways li {
		line-height: 1.8;
	}
}

.section-coursis {
	background: $bd-coursis;
	color: #dadada;

	.coursis-content {

		h1 {
			color: #fff;
			margin-bottom: 30px;
			text-align: center;
		}
	}

	.coursis-ways li {
		line-height: 1.8;
	}
}

.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 40px;
	background: #000;
	color: #fff;
}

.modal-backdrop {
	z-index: -1;
}

.modal-body {
	text-align: justify;

	ul {
		text-align: left;
		list-style-type: circle;
		padding-left: 30px;

	}
}

/*efooter*/